.file-editor-modal, .file-create-modal {
  block-size: 100%;

  &.is-modified {
    /* Add a background highlight on the modal itself */
    &::after {
      background: linear-gradient(to bottom, var(--pf-v5-global--warning-color--100), transparent 0.33em);
      content: '';
      inset: 0;
      pointer-events: none;
      position: absolute;
    }

    /* Add a circle to indicate that there are changes */
    .pf-v5-c-modal-box__title-text::after {
      aspect-ratio: 1;
      background: var(--pf-v5-global--warning-color--100);
      block-size: 1cap;
      border-radius: 0.5cap;
      content: '';
      display: inline-block;
      margin-inline-start: 0.5cap;
    }
  }

  /* Create mode shows textarea as full size */
  .pf-v5-c-form.pf-m-horizontal {
    block-size: 100%;
    grid-template-rows: auto 1fr auto;
  }
}

.file-editor {
  block-size: 100%;

  textarea {
    font-family: monospace;
    hyphens: none;
    white-space: wrap break-spaces;
    outline: none;
  }
}

.numbers{
  border-right: 1px solid rgb(203 213 225);
  padding: 0.5rem;
  text-align: right;
  overflow: hidden;
  min-width: 2ch; 
  width: fit-content; 
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.file-editor-wrapper{
    display: flex;
    border: 1px solid rgb(203 213 225);
    border-radius: 0.5rem;
    overflow: hidden;
    height: 100%;
}

.file-editor-alert {
  margin-block-end: var(--pf-v5-global--spacer--md);
}

.file-editor-title-label {
  margin-inline-start: var(--pf-v5-global--spacer--sm);

  .pf-v5-theme-dark & {
    background-color: var(--pf-v5-global--BackgroundColor--100);
  }
}
