.file-editor-modal, .file-create-modal {
  block-size: 100%;

  /* Create mode shows textarea as full size */
  .pf-v6-c-form.pf-m-horizontal {
    block-size: 100%;
    grid-template-rows: auto 1fr auto;
  }
}

.file-editor {
  block-size: 100%;

  textarea {
    font-family: var(--pf-t--global--font--family--mono);
    hyphens: none;
    white-space: wrap break-spaces;
  }
}

.file-editor-title-label {
  margin-inline-start: var(--pf-t--global--spacer--sm);
}
