@use "page.scss";
@use "ct-card.scss";
@use "@patternfly/patternfly/utilities/Text/text.css";

@import "@patternfly/patternfly/components/Button/button.css";

/* Style the list cards as ct-cards */
.pf-c-page__main-section > .pf-c-card {
    @extend .ct-card;
}

.breadcrumb-button {
    padding-left: 0;
    padding-right: 0;
}

.view-toggle-group {
    .pf-c-menu-toggle__button {
        display: flex;
        align-items: flex-start;
    }
}

.grid-file-name {
    text-align: center;
    width: 10em;
}

.check-icon {
    color: var(--pf-global--primary-color--100);
}

.sidebar-card {
    background: inherit;
    box-shadow: none;
}

.sidebar-panel {
    background-color: var(--pf-c-page__main-section--BackgroundColor);
    top: 3rem;
}

#description-list-sidebar {
    margin-bottom: 1rem;
}

.item-button {
    color: var(--pf-v5-global--Color--200);
}
