@use "page.scss";
@use "ct-card.scss";
@use "@patternfly/patternfly/utilities/Text/text.css";

@import "@patternfly/patternfly/components/Button/button.css";

// Use the page as the toplevel container
.pf-v5-c-page {
    container-type: size;
}

// Passthrough for layout and styling purposes, to enable main page parts to participate in the grid
.pf-v5-c-page__main-section,
.pf-v5-c-sidebar,
.pf-v5-c-sidebar__main,
.pf-v5-c-sidebar__content {
    display: contents;
}

// Move the scrollbar to the content area.
// Do this by triggering the overflow on the fileview wrapper and sidebar panel
// when content doesn't fit. (Parent card is also needed to overflow, else the
// children won't here in this context.)
.pf-v5-c-sidebar__content > .pf-v5-c-card,
.fileview-wrapper,
.sidebar-panel {
    overflow: auto;
}

// Content area sould stretch, so context menu works even when the content doesn't fill the area
.fileview-wrapper {
    block-size: 100%;
}

.pf-v5-c-page__main {
    display: grid;
    grid-template:
        "topbar topbar topbar topbar" auto
        ". content sidebar ." 1fr
        ". . . ." 0
        / 0 1fr 18rem 0;
    gap: var(--pf-v5-global--spacer--md);
    inline-size: 100vw;
    block-size: 100vh;
}

.pf-v5-c-page__main-breadcrumb {
    grid-area: topbar;
}

.pf-v5-c-sidebar__content > .pf-v5-c-card {
    grid-area: content;
}

.sidebar-panel {
    grid-area: sidebar;
}

@container (width < 768px) {
    // Change the general layout in smaller screen sizes
    .pf-v5-c-page__main {
        grid-template:
            "topbar" auto
            "." var(--pf-v5-global--spacer--md)
            "content" 1fr
            "sidebar" 8rem
            / 1fr;
        row-gap: 0;
    }
}

/* Style the list cards as ct-cards */
.pf-c-page__main-section > .pf-c-card {
    @extend .ct-card;
}

// We have to override PatternFly assumptions, as PatternFly does not expect
// widgets other than breadcrumbs within a breadcrumbs bar. We should probably
// reparent these and separate the breadcrumb into its own widget on the top
// bar instead.
.pf-v5-c-page__main-breadcrumb {
    .pf-v5-c-button:not(.breadcrumb-button):has(.pf-v5-svg:last-child) {
        // PatternFly doesn't expect icons in buttons in breadcrumbs, so we need to adjust for that
        >.pf-v5-c-button__icon {
            margin-inline: 0;
        }
    }

    .pf-v5-c-menu-toggle {
        padding-inline: var(--pf-v5-global--spacer--md) calc(var(--pf-v5-global--spacer--md) * 0.75);
    }
}

.breadcrumb {
    &-button {
        padding-inline: 0;
        // HACK: override PF button behaviour, breadcrumbs should
        // be links not button and then we should be able to remove these
        // overrides.
        // https://github.com/cockpit-project/cockpit-files/issues/641
        overflow-wrap: break-word;
        white-space: normal;

        &.breadcrumb-0 {
            margin-inline-start: var(--pf-v5-global--spacer--sm);
        }

        &-edit-apply,
        &-edit-cancel {
            padding-inline: var(--pf-v5-global--spacer--sm);
        }

        &-edit-apply {
            svg {
                color: var(--pf-v5-c-button--m-link--Color);
            }

            &:focus svg {
                color: var(--pf-v5-c-button--m-link--focus--Color);
            }

            &:hover svg {
                color: var(--pf-v5-c-button--m-link--hover--Color);
            }

            &:active svg {
                color: var(--pf-v5-c-button--m-link--active--Color);
            }
        }
    }
}

.path-divider {
    color: var(--pf-v5-global--Color--200);
}

.view-toggle-group {
    .pf-c-menu-toggle__button {
        display: flex;
        align-items: flex-start;
    }
}

.check-icon {
    color: var(--pf-global--primary-color--100);
}

.pf-v5-l-gallery {
    --pf-v5-l-gallery--GridTemplateColumns--max: 10rem;
    align-items: start;
    gap: var(--pf-v5-global--spacer--sm);
    grid-template-columns: repeat(auto-fill, minmax(var(--pf-v5-l-gallery--GridTemplateColumns--max), 1fr));
}

.sidebar-card {
    background: inherit;
    box-shadow: none;
}

.sidebar-panel {
    background-color: unset;
}

.sidebar-details {
    margin-block-end: var(--pf-v5-global--spacer--md);
    // Wrap on demand
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

// Improve header layout and wrap header text
.sidebar-panel {
    .pf-v5-c-card__header-main {
        display: grid !important;
        grid-template: 1fr / 1fr auto;
        overflow-wrap: anywhere;
        align-items: start;
    }
}

// Wrap titles of modals (instead of truncating long filenames)
.pf-v5-c-modal-box__title, .pf-v5-c-modal-box__title-text {
    white-space: break-spaces;
}

// Menu toggles should also not have extra space between the content and dropmarker
.pf-v5-c-menu-toggle > .pf-v5-c-menu-toggle__controls {
    padding-inline-start: 0;
}

.tooltip-hidden {
    visibility: hidden;
    pointer-events: none;
}

// First Menu SelectGroup item in the sort menu should have no top padding
.pf-v5-c-menu__list section:first-of-type {
    .pf-v5-c-menu__group-title {
        padding-block-start: 0;
    }
}
