button.progress-wrapper {
  block-size: 100%;
  aspect-ratio: 1;
  padding: 0;

  // Make the button look clickable on hover
  &:hover {
    outline: 2px solid var(--pf-v5-c-button--m-secondary--hover--after--BorderColor);
  }
}

.progress-pie {
  --progress-fill: var(--pf-v5-global--primary-color--100);
  --progress-empty: var(--pf-v5-global--BorderColor--100);
  /* Width can be set to 100% for a filled circle or to any units, including px */
  --progress-width: 40%;

  aspect-ratio: 1;
  border-radius: 100%;
  block-size: auto;
  // Set "padding" to xs size (1/2 of sm)
  inline-size: calc(100% - var(--pf-v5-global--spacer--sm));
  line-height: var(--pf-v5-c-button--LineHeight);
  display: inline-block;
  vertical-align: middle;
  /* Multiply by a float for a bit of anti-aliasing, while preserving 0% and 100% */
  background: conic-gradient(
    var(--progress-fill) var(--progress, 0),
    var(--progress-empty) calc(var(--progress, 0) * 1.005)
  );
  /* Size from the edge, add a px for antialiasing */
  mask-image: radial-gradient(
    circle farthest-side,
    transparent calc(100% - var(--progress-width)),
    black calc(100% - var(--progress-width) + 1px)
  );
}

/* Divider has no margin by default */
.upload-progress {
  margin-block-start: var(--pf-v5-global--spacer--md);
  margin-block-end: var(--pf-v5-global--spacer--md);
  flex: auto;

  /* Force the progress percentage text to be 4 characters wide so the width
   * doesn't jump when the percentage jumps from 9 => 10
   * TODO: fill PF issue
   */
  .pf-v5-c-progress__measure {
     inline-size: 4ch;
  }
}

.upload-progress-flex {
  .pf-v5-c-progress {
    // Align % with label and trashcan
    align-items: start;
  }
}

/* Drop all padding to make the trashcan align with the Popover close button  */
button.cancel-button {
  padding: 0;
}

.conflict-modal-files {
  padding-inline-start: var(--pf-v5-global--spacer--md);
  padding-block-start: var(--pf-v5-global--spacer--md);
  padding-block-end: var(--pf-v5-global--spacer--md);
}

.upload-popover {
  // Set the max width to 32rem, but have it work on smaller screen sizes too
  max-inline-size: min(32rem, 100vw - 8rem);

  .pf-v5-c-popover__body {
    // Set the minimum width to 14rem, but also allow it to work on smaller screen sizes
    min-inline-size: min(14rem, 33vw);
  }
}

.ct-grey-text {
   color: var(--pf-v5-global--Color--200);
}
